@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}

.banner-text {
  margin-bottom: 25px !important;
}
.margin-x {
  margin: 75px auto;
}
.rounded-custom {
  border-radius: 50px;
}
.badge-position {
  transform: translate(-125%, -50%) !important;
}
.toast-position {
  top: 50px !important;
  left: 50px !important;
}
.vip-banner-image {
  width: auto !important;
  height: 524px !important;
  object-fit: cover;
}

@media screen and (max-width: 767px) {
  .vip-logo {
    font-size: 20px !important;
  }
  .margin-x {
    margin: 25px auto !important;
  }
  .vip-banner-text-div {
    bottom: 15px !important;
    margin: 0 auto;
    padding: 0 !important;
    width: 75% !important;
  }
  .vip-banner-title {
    font-size: 25px !important ;
    font-weight: 600 !important;
    padding: 0 !important;
    margin: 0 !important;
  }
  .vip-banner-para {
    font-size: 12px !important;
    font-weight: 300 !important;
    padding: 0 !important;
    margin: 4px !important;
  }
  .vip-carousel {
    margin: 0 auto !important;
  }
  .vip-banner-button {
    padding: 6px 15px !important;
    font-size: 12px !important;
    margin: 5px auto !important;
  }
  .vip-footer {
    padding: 1rem !important;
  }
  .vip-footer-text h3 {
    font-size: 12px !important;
  }
  .vip-footer-logo-box h5 {
    font-size: 15px !important;
  }
  .vip-footer-logo {
    width: 100% !important;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1048px) {
  .margin-x {
    margin: 40px auto !important;
  }
  .vip-banner-text-div {
    bottom: 20px !important;
    margin: 0 auto !important;
    padding: 0 !important;
    width: 65% !important;
  }
  .vip-banner-title {
    font-size: 35px !important ;
    font-weight: 600 !important;
    padding: 0 !important;
    margin: 0 !important;
  }
  .vip-banner-para {
    font-size: 18px !important;
    font-weight: 300 !important;
    padding: 0 !important;
    margin: 4px !important;
  }
  .vip-carousel {
    margin: 0 auto !important;
  }
  .vip-banner-button {
    padding: 8px 25px !important;
    font-size: 15px !important;
    margin: 5px auto !important;
  }
  .vip-footer {
    padding: 1.5rem !important;
  }

  .vip-footer-text h3 {
    font-size: 20px !important;
  }
  .vip-footer-logo-box h5 {
    font-size: 13px !important;
  }
  .vip-footer-logo {
    width: 50% !important;
  }
}
